---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Team from "../components/Team.astro";
import Collaboration from "../components/Collaboration.astro";
import SolutionClearGate from "../components/SolutionClearGate.astro";
import SolutionTeeMo from "../components/SolutionTeeMo.astro";
import SolutionExa from "../components/SolutionExa.astro";
---

<Base>
  <main>
    <Hero />
    <Team />
    <Collaboration />
    <SolutionClearGate />
    <SolutionTeeMo />
    <SolutionExa />
  </main>
</Base>
