---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Team from "../components/Team.astro";
import Collaboration from "../components/Collaboration.astro";
---

<Base>
  <main>
    <Hero />
    <Team />
    <Collaboration />
  </main>
</Base>
